#header {}

#header .navbar {
    min-height: 80px;
    margin-bottom: 0;
    border-radius: 0;
}

.st-navbar {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;

    ul {
        margin-top: 15px;

        li a {
            text-transform: uppercase;
            font-weight: 600;
            padding: 0;
            margin: 14px;

            &:hover, &:focus, &:active {
              color: #000;
              outline: 0;
              border: 0;
              text-decoration: none;
              background: #fff;
            }

        }


    }

    .navbar-header {
        margin-top: 25px;
    }

    .navbar-toggle .icon-bar {
        background-color: #000;
    }

    .navbar-toggle {
        margin-top: 7px;
        margin-right: 25px;
        padding: 0;
        border-radius: 0;
    }

}
